# Ignore virtual environment folders
venv/
.venv/
.env

# Ignore database files
*.sqlite3

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore backup files
*.bak
*.backup

# # Ignore media files
# media/

# Ignore static files
staticfiles/
activityrewardsanalytics-firebase-adminsdk-2jcxu-5f8fc00b19.json
# test files
ticket_attachments/