# Ignore virtual environment folders
venv/
.venv/
.env

# Ignore database files
*.sqlite3

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore backup files
*.bak
*.backup

# # Ignore media files
# media/

# Ignore static files
staticfiles/
vertex-3d035-firebase-adminsdk-6an7v-0ef36d7759.json