<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ES6 with Firebase</title>
</head>
<body>
    <h1>Test Firebase with ES6</h1>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
        import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-messaging.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCLWZYFBfve1zqalCvFpHpFwsOVZkf5PpY",
            authDomain: "activityrewardsanalytics.firebaseapp.com",
            projectId: "activityrewardsanalytics",
            storageBucket: "activityrewardsanalytics.firebasestorage.app",
            messagingSenderId: "340911017439",
            appId: "1:340911017439:web:53df6db4a5a98575d7086a",
            measurementId: "G-TWDE14X9TC"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        // Initialize Messaging
        const messaging = getMessaging(app);

        console.log("Firebase initialized successfully");

        // Register the service worker
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/static/firebase-messaging-sw.js')
                .then(async (registration) => {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    
                    // Request permission and get token
                    console.log('Requesting notification permission...');
                    const permission = await Notification.requestPermission();
                    if (permission === 'granted') {
                        console.log('Notification permission granted.');
                        try {
                            const token = await getToken(messaging, { vapidKey: 'BGf8DJLl0IyRu55Zl-l0-2cMYwWVYU-mzUMjtJoysN8p2MCwjf1pmQmGk6kCP2BK_OrydDEfZzwddk8TMO98Gps', serviceWorkerRegistration: registration });
                            if (token) {
                                console.log('FCM Token:', token);
                            } else {
                                console.warn('No registration token available.');
                            }
                        } catch (error) {
                            console.error('Error retrieving FCM token:', error);
                        }
                    } else {
                        console.warn('Notification permission denied.');
                    }
                })
                .catch((error) => {
                    console.log('ServiceWorker registration failed: ', error);
                });
        }
    </script>
</body>
</html>
